<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/home.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div><%= key %></div>
        <div><%= data[0].name %></div>
        <div><%= data[0].city %></div>
        <div><%= data[0].contact %></div>
        <div><%= data[0].type %></div>
    </body>
    <script src="/js/home.js"></script>
</html>